Gmail Automation (1).json
{
  "name": "Gmail Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        0
      ],
      "id": "70738ade-37ee-48d3-acf0-8bf565040e61",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VcjjQgvcYzweVotv",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || [];\n\nlet from = \"\";\nlet subject = \"\";\n\nfor (const h of headers) {\n  if (h.name === \"From\") {\n    from = h.value;\n  }\n  if (h.name === \"Subject\") {\n    subject = h.value;\n  }\n}\n\n// extract only email from \"Name <email>\"\nconst emailMatch = from.match(/<(.+?)>/);\nif (emailMatch) {\n  from = emailMatch[1];\n}\n\nreturn [\n  {\n    json: {\n      from: from,\n      subject: subject,\n      body: $json.text || $json.snippet\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "08a468c9-c9d1-431f-8fca-de1e1cb76820",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        -144
      ],
      "id": "63ce0bbd-1086-4d8c-9e7d-6a9820cf222e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "H5lQoqneoYXnSelr",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email assistant. Always reply clearly, professionally, and based ONLY on the email content. Do not assume anything extra.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Reply to this email:\\n\\n{{$json.body}}\\n\\nRules:\\n- Keep it short\\n- Be relevant to the email\\n- Do not add unrelated information\\n- Sound human and natural\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "a6e53932-7bf9-49fe-ade7-d2cda36e03ba",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d2bc983-90b5-4fb6-8137-39f0993a6a3d",
              "name": "reply ",
              "value": "={{$json.choices[0].message.content}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "addc7988-9058-4273-9491-69166f004616",
      "name": "Function"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json['reply '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        0
      ],
      "id": "59f6112d-fef5-486a-99b1-e92024581739",
      "name": "Reply to a message",
      "webhookId": "3968ac3d-be03-4ba7-9dae-279ff244a092",
      "credentials": {
        "gmailOAuth2": {
          "id": "VcjjQgvcYzweVotv",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f51b843e-d259-44b7-977e-16237e901da0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8deb61ef4a41f9756b4aa81dec00f4b23005b1cba126bd4f0e8a1b94bee2c015"
  },
  "id": "RgNx1wqw9ecYgVs5",
  "tags": []
}